@import "tailwindcss";

@theme {
  --color-background: rgb(var(--background) / <alpha-value>);
  --color-foreground: rgb(var(--foreground) / <alpha-value>);
  --color-muted-foreground: rgb(var(--muted-foreground) / <alpha-value>);

  --color-card: rgb(var(--card) / <alpha-value>);
  --color-card-foreground: rgb(var(--card-foreground) / <alpha-value>);

  --color-input: rgb(var(--input) / <alpha-value>);
  --color-input-border: rgb(var(--input-border) / <alpha-value>);

  --color-ring: rgb(var(--ring) / <alpha-value>);

  --color-primary: rgb(var(--primary) / <alpha-value>);
  --color-primary-foreground: rgb(var(--primary-foreground) / <alpha-value>);

  --color-accent: rgb(var(--accent) / <alpha-value>);
  --color-accent-foreground: rgb(var(--accent-foreground) / <alpha-value>);

  --color-destructive: rgb(var(--destructive) / <alpha-value>);
  --color-destructive-foreground: rgb(var(--destructive-foreground) / <alpha-value>);
}
